<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>fetch Threads: `https://dev-secret-be.herokuapp.com/threads`</p>
    <p>create Threads: `https://dev-secret-be.herokuapp.com/threads/create`</p>
  </body>
</html>
